In [1]:
# Necessary Libaries
import tensorflow as tf
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense
import pandas as pd

In [2]:
url = "https://raw.githubusercontent.com/ShefaaSaied/Telco-customer-churn-prediction/refs/heads/main/Dataset/WA_Fn-UseC_-Telco-Customer-Churn.csv"

In [3]:
df=pd.read_csv(url)
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [4]:
# Checking missing value
print(df.isnull().sum())

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [5]:
df.dtypes

customerID           object
gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges         object
Churn                object
dtype: object

In [6]:
df.select_dtypes(include=['object']).columns.tolist()

['customerID',
 'gender',
 'Partner',
 'Dependents',
 'PhoneService',
 'MultipleLines',
 'InternetService',
 'OnlineSecurity',
 'OnlineBackup',
 'DeviceProtection',
 'TechSupport',
 'StreamingTV',
 'StreamingMovies',
 'Contract',
 'PaperlessBilling',
 'PaymentMethod',
 'TotalCharges',
 'Churn']

In [7]:
from sklearn.preprocessing import LabelEncoder,StandardScaler

In [8]:
for column in df.select_dtypes(include=['object']).columns:
    label=LabelEncoder()
    df[column]=label.fit_transform(df[column])

In [9]:
df.dtypes

customerID            int32
gender                int32
SeniorCitizen         int64
Partner               int32
Dependents            int32
tenure                int64
PhoneService          int32
MultipleLines         int32
InternetService       int32
OnlineSecurity        int32
OnlineBackup          int32
DeviceProtection      int32
TechSupport           int32
StreamingTV           int32
StreamingMovies       int32
Contract              int32
PaperlessBilling      int32
PaymentMethod         int32
MonthlyCharges      float64
TotalCharges          int32
Churn                 int32
dtype: object

In [10]:
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,5375,0,0,1,0,1,0,1,0,0,...,0,0,0,0,0,1,2,29.85,2505,0
1,3962,1,0,0,0,34,1,0,0,2,...,2,0,0,0,1,0,3,56.95,1466,0
2,2564,1,0,0,0,2,1,0,0,2,...,0,0,0,0,0,1,3,53.85,157,1
3,5535,1,0,0,0,45,0,1,0,2,...,2,2,0,0,1,0,0,42.30,1400,0
4,6511,0,0,0,0,2,1,0,1,0,...,0,0,0,0,0,1,2,70.70,925,1

In [11]:
x=df.drop(columns=['Churn'])
y=df['Churn']

In [12]:
x.columns.tolist()

['customerID',
 'gender',
 'SeniorCitizen',
 'Partner',
 'Dependents',
 'tenure',
 'PhoneService',
 'MultipleLines',
 'InternetService',
 'OnlineSecurity',
 'OnlineBackup',
 'DeviceProtection',
 'TechSupport',
 'StreamingTV',
 'StreamingMovies',
 'Contract',
 'PaperlessBilling',
 'PaymentMethod',
 'MonthlyCharges',
 'TotalCharges']

In [13]:
y

0       0
1       0
2       1
3       0
4       1
       ..
7038    0
7039    0
7040    0
7041    1
7042    0
Name: Churn, Length: 7043, dtype: int32

In [14]:
x

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges
0,5375,0,0,1,0,1,0,1,0,0,2,0,0,0,0,0,1,2,29.85,2505
1,3962,1,0,0,0,34,1,0,0,2,0,2,0,0,0,1,0,3,56.95,1466
2,2564,1,0,0,0,2,1,0,0,2,2,0,0,0,0,0,1,3,53.85,157
3,5535,1,0,0,0,45,0,1,0,2,0,2,2,0,0,1,0,0,42.30,1400
4,6511,0,0,0,0,2,1,0,1,0,0,0,0,0,0,0,1,2,70.70,925
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,4853,1,0,1,1,24,1,2,0,2,0,2,2,2,2,1,1,3,84.80,1597
7039,1525,0,0,1,1,72,1,2,1,0,2,2,0,2,2,1,1,1,103.20,5698
7040,3367,0,0,1,1,11,0,1,0,2,0,0,0,0,0,0,1,2,29.60,2994
7041,5934,1,1,1,0,4,1,2,1,0,0,0,0,0,0,0,1,3,74.40,2660
7042,2226,1,0,0,0,66,1,0,1,2,0,2,2,2,2,2,1,0,105.65,5407

In [15]:
x,y

(      customerID  gender  SeniorCitizen  Partner  Dependents  tenure  \
 0           5375       0              0        1           0       1
 1           3962       1              0        0           0      34
 2           2564       1              0        0           0       2
 3           5535       1              0        0           0      45
 4           6511       0              0        0           0       2
 ...          ...     ...            ...      ...         ...     ...
 7038        4853       1              0        1           1      24
 7039        1525       0              0        1           1      72
 7040        3367       0              0        1           1      11
 7041        5934       1              1        1           0       4
 7042        2226       1              0        0           0      66

       PhoneService  MultipleLines  InternetService  OnlineSecurity  \
 0                0              1                0               0
 1                1              0                0               2
 2                1              0                0               2
 3                0              1                0               2
 4                1              0                1               0
 ...            ...            ...              ...             ...
 7038             1              2                0               2
 7039             1              2                1               0
 7040             0              1                0               2
 7041             1              2                1               0
 7042             1              0                1               2

       OnlineBackup  DeviceProtection  TechSupport  StreamingTV  \
 0                2                 0            0            0
 1                0                 2            0            0
 2                2                 0            0            0
 3                0                 2            2            0
 4                0                 0            0            0
 ...            ...               ...          ...          ...
 7038             0                 2            2            2
 7039             2                 2            0            2
 7040             0                 0            0            0
 7041             0                 0            0            0
 7042             0                 2            2            2

       StreamingMovies  Contract  PaperlessBilling  PaymentMethod  \
 0                   0         0                 1              2
 1                   0         1                 0              3
 2                   0         0                 1              3
 3                   0         1                 0              0
 4                   0         0                 1              2
 ...               ...       ...               ...            ...
 7038                2         1                 1              3
 7039                2         1                 1              1
 7040                0         0                 1              2
 7041                0         0                 1              3
 7042                2         2                 1              0

       MonthlyCharges  TotalCharges
 0              29.85          2505
 1              56.95          1466
 2              53.85           157
 3              42.30          1400
 4              70.70           925
 ...              ...           ...
 7038           84.80          1597
 7039          103.20          5698
 7040           29.60          2994
 7041           74.40          2660
 7042          105.65          5407

 [7043 rows x 20 columns],
 0       0
 1       0
 2       1
 3       0
 4       1
        ..
 7038    0
 7039    0
 7040    0
 7041    1
 7042    0
 Name: Churn, Length: 7043, dtype: int32)

In [16]:
#Standarisation
scaler=StandardScaler()
x_scaled=scaler.fit_transform(x)

In [17]:
#Split data into train and test data
from sklearn.model_selection import train_test_split

In [18]:
x_train,x_test,y_train,y_test=train_test_split(x_scaled,y,test_size=0.2)

In [19]:
x_train.shape[1]

20

In [20]:
# build single layer preceptron
slp = Sequential()
slp.add(Dense(1,activation='sigmoid',input_shape=(x_train.shape[1],)))

C:\Users\fizaf\anaconda3\Lib\site-packages\keras\src\layers\core\dense.py:93: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [21]:
slp.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

In [22]:
slp.fit(x_train,y_train,epochs=20)

Epoch 1/20
177/177 ━━━━━━━━━━━━━━━━━━━━ 1s 971us/step - accuracy: 0.4999 - loss: 0.8257
Epoch 2/20
177/177 ━━━━━━━━━━━━━━━━━━━━ 0s 751us/step - accuracy: 0.6314 - loss: 0.6547
Epoch 3/20
177/177 ━━━━━━━━━━━━━━━━━━━━ 0s 757us/step - accuracy: 0.7067 - loss: 0.5669
Epoch 4/20
177/177 ━━━━━━━━━━━━━━━━━━━━ 0s 730us/step - accuracy: 0.7262 - loss: 0.5278
Epoch 5/20
177/177 ━━━━━━━━━━━━━━━━━━━━ 0s 739us/step - accuracy: 0.7572 - loss: 0.4943
Epoch 6/20
177/177 ━━━━━━━━━━━━━━━━━━━━ 0s 744us/step - accuracy: 0.7654 - loss: 0.4807
Epoch 7/20
177/177 ━━━━━━━━━━━━━━━━━━━━ 0s 815us/step - accuracy: 0.7762 - loss: 0.4687
Epoch 8/20
177/177 ━━━━━━━━━━━━━━━━━━━━ 0s 734us/step - accuracy: 0.7871 - loss: 0.4464
Epoch 9/20
177/177 ━━━━━━━━━━━━━━━━━━━━ 0s 740us/step - accuracy: 0.7877 - loss: 0.4519
Epoch 10/20
177/177 ━━━━━━━━━━━━━━━━━━━━ 0s 734us/step - accuracy: 0.7951 - loss: 0.4306
Epoch 11/20
177/177 ━━━━━━━━━━━━━━━━━━━━ 0s 727us/step - accuracy: 0.7940 - loss: 0.4370
Epoch 12/20
177/177 ━━━━━━━━━━━━━━━━━━━━ 0s 734us/step - accuracy: 0.8022 - loss: 0.4275
Epoch 13/20
177/177 ━━━━━━━━━━━━━━━━━━━━ 0s 738us/step - accuracy: 0.7951 - loss: 0.4303
Epoch 14/20
177/177 ━━━━━━━━━━━━━━━━━━━━ 0s 819us/step - accuracy: 0.7934 - loss: 0.4304
Epoch 15/20
177/177 ━━━━━━━━━━━━━━━━━━━━ 0s 799us/step - accuracy: 0.7995 - loss: 0.4279
Epoch 16/20
177/177 ━━━━━━━━━━━━━━━━━━━━ 0s 734us/step - accuracy: 0.7956 - loss: 0.4263
Epoch 17/20
177/177 ━━━━━━━━━━━━━━━━━━━━ 0s 737us/step - accuracy: 0.7934 - loss: 0.4348
Epoch 18/20
177/177 ━━━━━━━━━━━━━━━━━━━━ 0s 739us/step - accuracy: 0.7940 - loss: 0.4322
Epoch 19/20
177/177 ━━━━━━━━━━━━━━━━━━━━ 0s 738us/step - accuracy: 0.8002 - loss: 0.4228
Epoch 20/20
177/177 ━━━━━━━━━━━━━━━━━━━━ 0s 746us/step - accuracy: 0.7983 - loss: 0.4240

In [23]:
from sklearn.metrics import accuracy_score

In [24]:
y_pred = slp.predict(x_test)

45/45 ━━━━━━━━━━━━━━━━━━━━ 0s 976us/step

In [25]:
x_pred = slp.predict(x_test)

45/45 ━━━━━━━━━━━━━━━━━━━━ 0s 656us/step

In [26]:
y_pred = (y_pred>0.5).astype('int')
y_pred

array([[1],
       [0],
       [0],
       ...,
       [0],
       [0],
       [1]])

In [27]:
x_pred = (x_pred<0.6).astype('int')
x_pred

array([[0],
       [1],
       [1],
       ...,
       [1],
       [1],
       [0]])

In [28]:
accuracy_score(y_pred,y_test)

0.8197303051809794

In [29]:
accuracy_score(x_pred,y_test)

0.1880766501064585

In [30]:
mlp=Sequential()
mlp.add(Dense(64,activation='relu',input_shape=(x_train.shape[1],)))
mlp.add(Dense(32,activation='relu',input_shape=(x_train.shape[1],)))
mlp.add(Dense(16,activation='relu',input_shape=(x_train.shape[1],)))
mlp.add(Dense(1,activation='sigmoid',input_shape=(x_train.shape[1],)))

C:\Users\fizaf\anaconda3\Lib\site-packages\keras\src\layers\core\dense.py:93: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [31]:
mlp.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

In [32]:
mlp.fit(x_train,y_train,epochs=20)

Epoch 1/20
177/177 ━━━━━━━━━━━━━━━━━━━━ 1s 987us/step - accuracy: 0.7651 - loss: 0.5036
Epoch 2/20
177/177 ━━━━━━━━━━━━━━━━━━━━ 0s 877us/step - accuracy: 0.7903 - loss: 0.4306
Epoch 3/20
177/177 ━━━━━━━━━━━━━━━━━━━━ 0s 867us/step - accuracy: 0.8039 - loss: 0.4171
Epoch 4/20
177/177 ━━━━━━━━━━━━━━━━━━━━ 0s 867us/step - accuracy: 0.7987 - loss: 0.4178
Epoch 5/20
177/177 ━━━━━━━━━━━━━━━━━━━━ 0s 872us/step - accuracy: 0.8161 - loss: 0.3997
Epoch 6/20
177/177 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8071 - loss: 0.4106
Epoch 7/20
177/177 ━━━━━━━━━━━━━━━━━━━━ 0s 868us/step - accuracy: 0.8052 - loss: 0.4016
Epoch 8/20
177/177 ━━━━━━━━━━━━━━━━━━━━ 0s 864us/step - accuracy: 0.8116 - loss: 0.3993
Epoch 9/20
177/177 ━━━━━━━━━━━━━━━━━━━━ 0s 859us/step - accuracy: 0.8294 - loss: 0.3737
Epoch 10/20
177/177 ━━━━━━━━━━━━━━━━━━━━ 0s 932us/step - accuracy: 0.8264 - loss: 0.3788
Epoch 11/20
177/177 ━━━━━━━━━━━━━━━━━━━━ 0s 905us/step - accuracy: 0.8120 - loss: 0.3960
Epoch 12/20
177/177 ━━━━━━━━━━━━━━━━━━━━ 0s 933us/step - accuracy: 0.8310 - loss: 0.3722
Epoch 13/20
177/177 ━━━━━━━━━━━━━━━━━━━━ 0s 905us/step - accuracy: 0.8315 - loss: 0.3601
Epoch 14/20
177/177 ━━━━━━━━━━━━━━━━━━━━ 0s 870us/step - accuracy: 0.8371 - loss: 0.3596
Epoch 15/20
177/177 ━━━━━━━━━━━━━━━━━━━━ 0s 893us/step - accuracy: 0.8381 - loss: 0.3566
Epoch 16/20
177/177 ━━━━━━━━━━━━━━━━━━━━ 0s 924us/step - accuracy: 0.8508 - loss: 0.3385
Epoch 17/20
177/177 ━━━━━━━━━━━━━━━━━━━━ 0s 869us/step - accuracy: 0.8367 - loss: 0.3566
Epoch 18/20
177/177 ━━━━━━━━━━━━━━━━━━━━ 0s 870us/step - accuracy: 0.8418 - loss: 0.3439
Epoch 19/20
177/177 ━━━━━━━━━━━━━━━━━━━━ 0s 883us/step - accuracy: 0.8486 - loss: 0.3382
Epoch 20/20
177/177 ━━━━━━━━━━━━━━━━━━━━ 0s 855us/step - accuracy: 0.8527 - loss: 0.3382

In [33]:
y_pred1=mlp.predict(x_test)
y_pred1=(y_pred>0.5).astype('int')

45/45 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step

In [34]:
accuracy_score(y_pred1,y_test)

0.8197303051809794

Conclusion
- SLP struggles with complex relationships
- MLP improves classification accuracy
- Helps telecom companies retain customers